body {
  background: #f0e7ea;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0px;
}

a {
  color: #ec0e5c;
  text-decoration-line: none;
  font-weight: 600;
}

a:hover {
  /* text-decoration-line: underline; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.progressbar .buffer {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  display: block;
  background-color: #ec0e5c;
  background-size: 80px 50px;
  background-image: linear-gradient(
    115deg,
    rgb(255 255 255 / 0%) 10%,
    #ffffff00 35%,
    #ffffff00 50%,
    rgb(0 0 0 / 0.15) 50%,
    rgb(0 0 0 / 0.15) 75%,
    #ffffff00 75%,
    #ffffff00
  );
  animation: buffermove 5s linear infinite;
}

@keyframes buffermove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 80px 0;
  }
}

@keyframes bufferblink {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes ycpblink {
  0% {
    box-shadow: 0px 0px 5px #ec0e5c;
  }
  50% {
    box-shadow: 0px 0px 20px #ec0e5c;
  }
  100% {
    box-shadow: 0px 0px 5px #ec0e5c;
  }
}

.address.combine > span {
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.tooltip {
  font-size: 14px !important;
  font-weight: bold !important;
  border-radius: 150px !important;
  border: 2px solid !important;
}

.tooltip {
  font-size: 14px !important;
  font-weight: bold !important;
  border-radius: 150px !important;
  border: 2px solid !important;
}
